@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f1ff5e;
}
@theme {
  --font-brico: var(--font-bricolage-grotesque);
  --font-geist: var(--font-geist-mono);
}
